<section class="page-section bg-light">
    <pre>

    </pre>  
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-dark mt-0">About Us</h2>
        <hr class="divider divider-light" />
        <p class="text-dark-75 mb-4">
          Explore Bosnia is a travel organization based in Sarajevo, created with the vision of showcasing the beauty of a country in the heart of the Balkans.
          Our mission is to help you discover the natural wonders, rich culture, and deep traditions of Bosnia and Herzegovina — a land where East meets West, and every journey tells a story.
        </p>
        <p class="text-dark-75 mb-4">
          With us, traveling through Bosnia is not just about places — it’s about feeling the soul of a country that lives in every smile, song, and sunset.
        </p>
        <a class="btn btn-dark btn-xl" href="#destination" data-page="destination">Get Started!</a>
      </div>
    </div>
<pre>
  
</pre>
  </div>
</section>
