<section class="page-section bg-light bg-image-section" id="services" style="position: relative; background-image: url('assets/img/image.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; z-index: 1;">
  
  <div style="content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(200, 195, 195, 0.4); z-index: 2;"></div>



  <div class="container px-4 px-lg-5" style="position: relative; z-index: 3;">
    <h2 class="text-center mt-0 text-dark">Where Would You Like to Stay?</h2>

<div class="row gx-4 gx-lg-5 text-center">
  <div class="col-6 col-lg-3">
    <div class="mt-5">
      <a class="h4 mb-2 spa-link text-decoration-none text-dark" href="#hotels" data-page="hotels">Hotels</a>
    </div>
  </div>

  <div class="col-6 col-lg-3">
    <div class="mt-5">
      <a class="h4 mb-2 spa-link text-decoration-none text-dark" href="#apartments" data-page="apartments">Apartments</a>
    </div>
  </div>

  <div class="col-6 col-lg-3">
    <div class="mt-5">
      <a class="h4 mb-2 spa-link text-decoration-none text-dark" href="#camping" data-page="camping">Camping</a>
    </div>
  </div>

  <div class="col-6 col-lg-3">
    <div class="mt-5">
      <a class="h4 mb-2 spa-link text-decoration-none text-dark" href="#mountainhut" data-page="mountain-huts">Mountain Huts</a>
    </div>
  </div>
</div>

    </div>
  </div>
</section>
