<section class="page-section bg-light" id="login">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-6">
        <h2 class="text-center mt-0">Login</h2>
        <hr class="divider" />
        <form id="loginForm">
        
          <div class="form-floating mb-3">
            <input class="form-control" id="loginEmail" type="email" placeholder="name@example.com" required />
            <label for="loginEmail">Email address</label>
          </div>

        
          <div class="form-floating mb-3">
            <input class="form-control" id="loginPassword" type="password" placeholder="Enter your password" required />
            <label for="loginPassword">Password</label>
          </div>

      
          <div class="d-grid">
            <button class="btn btn-dark btn-xl" type="submit">Login</button>
          </div>

       
          <div class="text-center mt-3">
            <p>Don't have an account? <a href="#register" class="spa-link" data-page="register">Register</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
