<section class="page-section bg-light" id="register">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-6">
        <h2 class="text-center mt-0">Register</h2>
        <hr class="divider" />
        <form id="registerForm">

          <div class="form-floating mb-3">
            <input class="form-control" id="registerName" type="text" placeholder="Your name" required />
            <label for="registerName">Full name</label>
          </div>


          <div class="form-floating mb-3">
            <input class="form-control" id="registerEmail" type="email" placeholder="name@example.com" required />
            <label for="registerEmail">Email address</label>
          </div>

         
          <div class="form-floating mb-3">
            <input class="form-control" id="registerPassword" type="password" placeholder="Password" required />
            <label for="registerPassword">Password</label>
          </div>

    
          <div class="form-floating mb-3">
            <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm Password" required />
            <label for="confirmPassword">Confirm Password</label>
          </div>


          <div class="d-grid">
            <button class="btn btn-dark btn-xl" type="submit">Register</button>
          </div>


          <div class="text-center mt-3">
            <p>Already have an account? <a href="#login" class="spa-link" data-page="login">Login</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
